<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/01.css') }}">
<head>
    <title>所有的兑换码一览</title>
</head>
<body>
    <h1>所有的兑换码一览</h1>
    <a href="/"><button>返回</button></a>
    <a href="/key_page"><button>查看所有的兑换码</button></a>
    <a href="/key_page_fresh"><button>查看没有用过的兑换码</button></a>
    <a href="/key_page_waitting"><button>查看还没有写完评测的兑换码</button></a>
    <table class="bordered-table">
        <thead>
            <tr>
                <th>兑换码编号</th>
                <th>兑换码详情</th>
                <th>兑换码</th>
                <th>是否被领取</th>
                <th>领取人</th>
                <th>领取人是否给出评测</th>
                <th>steam评测地址</th>
            </tr>
        </thead>
        <tbody>
            {% for row in key_data.iterrows() %}
                <tr>
                    <td>{{ row[1]['兑换码编号'] }}</td>
                    <td><a href="/duihuanmaxiangqing/{{ row[1]['兑换码编号'] }}"><button>详情</button></a>
                    <td>{{ row[1]['兑换码'] }}</td>
                    <td>{{ row[1]['是否被领取'] }}</td>
                    <td>{{ row[1]['领取人'] }}</td>
                    <td>{{ row[1]['领取人是否给出评测'] }}</td>
                    <td>{{ row[1]['steam评测地址'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/"><button>返回</button></a>
    <a href="/key_page"><button>查看所有的兑换码</button></a>
    <a href="/key_page_fresh"><button>查看没有用过的兑换码</button></a>
    <a href="/key_page_waitting"><button>查看还没有写完评测的兑换码</button></a>
    <!-- 这里可以添加其他项目详情 -->
</body>
</html>
